{% extends 'base.html' %}
{% block title %}Bienvenido{% endblock %}

{% block content %}

<div class="row" style="margin-top: 100px;">
    <div class="col-md-6 mx-auto">
        <div data-aos="zoom-in">
            <div class="card">
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-10">
                                <input type="text" class="form-control form-control-md"
                                    placeholder="¿Qué esta sucediendo hoy, {{user.username}}?" required maxlength="150"
                                    name="contenido" id="quepasa">
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-outline-success">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-6 mx-auto">
        <div data-aos="zoom-in">
            <div class="card">
                <div class="card-header">
                    <h5 class="letra-principal">Publicaciones</h5>
                </div>
                <div class="card-body">

                    {% if publicaciones %}

                    {% for publicacion in publicaciones %}
                    <div class="card mt-3 card-publi">
                        <div class="card-header">

                            {% if publicacion.usuario.username == user.username %}

                            <strong> {{publicacion.usuario}} </strong> - {{publicacion.fecha_publicacion}} | <a
                                href="{% url 'borrar_publi' publicacion.id %}">Borrar</a>

                            {% else %}

                            <strong> {{publicacion.usuario}} </strong> - {{publicacion.fecha_publicacion}}

                            {% endif %}

                        </div>
                        <div class="card-body">
                            <p> {{publicacion.contenido}} </p>
                        </div>
                    </div>
                    {% endfor %}

                    {% else %}
                    <p>No hay publicaciones</p>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener('DOMContentLoaded', function() {
      // Obtiene el campo de entrada de texto por su ID
      var input = document.getElementById('quepasa');
      
      // Posiciona el cursor en el campo de entrada de texto
      input.focus();
    });
  </script>


{% endblock %}