{% extends 'base.html' %}
{% block title %} Perfil - {{username}} {% endblock %}

{% block content %}

<div class="row" style="margin-top: 100px;">
    <div class="col-md-8 col-lg-6 mx-auto">
        <div data-aos="zoom-in">
            <div class="card fondo-principal">
                <div class="card-header">
                    <span class="letra-principal"> Perfil </span>
                </div>
                <div class="card-body publi-con">
                    {% if soyyo %}
                    <form style="text-align: center;" action="" method="post">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button style="width: 100%;" class="btn btn-success" type="submit"><i class="fa fa-send"></i></button>
                    </form>
                    {% else %}
                        <p>Username : {{username}} </p>
                        <p>Nombre : {{usuario.first_name}} </p>
                        <p>Apellido : {{usuario.last_name}} </p>
                        <p>Email : {{usuario.email}} </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}