{% extends 'base.html' %}

{% block title %}Blog Familiar - Registro{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-4 mx-auto mt-5">
            <div class="card">
                <div class="card-header">
                    <h3 style="text-align: center;">Registro</h3>
                </div>
                <div class="card-body mx-auto">
                    <form class="form-group" style="text-align: center;" action="" method="post">
                        {% csrf_token %}
                        {{form.as_p}}
                        <input type="submit" value="Enviar" class="btn btn-primary">
                        <p>Si ya estás registrado click <a href="{% url 'login' %}">aquí</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}